<style>.gray-text {
    color: gray;
}

header {
    text-align: center;
    font-family: Lobster;
}

.img_holder {
    padding: 5px;
    margin-top: 2px;
    align-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: double;
    border-color: #C23C3C;
    padding: 10px;
}

body {
    background-color: #A6F1BD;
}

title {
    text-align: center;
    text-transform: uppercase;
    font-family: Lobster;
}

h1 {
    text-align: center;
    font-family: Lobster;
    color: white;
    background-color: #F86D6D;
    padding: 30px;
    border-radius: 15%;
    flex-basis: 70%;
    Margin: auto;
    width: 60%;
}

h2 {
    position: center;
    text-align: center;
    font-family: Lobster;
    font-size: 1.3em;
}

p {
    display: flex;
    flex-basis: 10%;
    text-align: center;
    font-family: Lobster;
    font-size: large;
}

p2 {
    text-align: center;
    font-family: Lobster;
}

.boxed {
    border: 10px dotted #F86D6D;
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    padding: 15px;
    text-align: center;
}

.bigtext {
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    padding: 15px;
    text-align: center;
    font-size: 2.5em;
}

.body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.littletext {
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    padding: 15px;
    text-align: center;
    font-size: 1.4em;
}

footer {
    text-align: center;
    font-family: Lobster;
    color: #F86D6D;
    padding: 30px;
    font-size: 1.1em;
    line-height: inherit;
}

img {
    max-width: 400px;
    width: 400%;
    margin: auto;
    align-items: center;
    padding: 10px;
}

.bigpizza {
    display: flex;
    flex-basis: 10%;
    position: relative;
    text-align: left;
    height: auto;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 5px;
}

.bigpie {
    margin-left: 100px;
    margin-right: 100px;
    width: auto;
    text-align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 1.6em;
}

.container {
    display: flex;
    text-align: left;
    position: relative;
    flex-basis: 50%;
    font-size: 1.3em;
    padding: 20px;
    width: 50%;
    font-family: Lobster;
    margin-left: auto;
    margin-right: auto;
}

</style>